body {
    background-color: #E1DFCA;
}

.container-navegation-biografia {
    background-color: #E5E4E2;
    width: calc(880px - 20px - 20px + 3px);
    padding: 30px;
}

.navegation-biografia {
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #474a51;
    padding: 25px;
}

.container-conteudo-biografia {
    margin: 0;
    padding: 22px;
    width: calc(880px - 20px - 20px + 3px + 7px + 10px);
    background-color: white
}

.direitos-reservados {
    font-weight: bold;
    text-align: center;
}