	body {
			background-color: #E1DFCA;
		}

		.container-navegation-campanhas-publicitárias {
			background-color: #E5E4E2;
			width: calc(880px - 20px - 20px + 3px + 7px - 6px);
			padding: 30px;
		}

		
		.navegation-campanhas-publicitárias {
			font-size: 17px;
			text-decoration: none;
			font-weight: bold;
			text-transform: uppercase;
			color: #474a51;
			padding: 25px;
		}

		#container-campanha-publicitaria {
			margin: 0;
			padding: 22px;
			width: calc(880px - 20px - 20px + 3px + 7px + 10px);
			background-color: white;
		}

		.direitos-reservados {
			font-weight: bold;
			text-align: center;
		}

		.container-foto1 {
			background-color: white;
			width: calc(880px - 20px - 20px + 3px + 7px + 10px);
			padding: 22px;
			margin-top: 10px;
		}

		.container-foto2 {
			background-color: white;
			width: calc(880px - 20px - 20px + 3px + 7px + 10px);
			padding: 22px;
			margin-top: 10px;
		}

		.container-foto3 {
			background-color: white;
			width: calc(880px - 20px - 20px + 3px + 7px + 10px);
			padding: 22px;
			margin-top: 10px;
		}

		#foto1 {
			border: solid 8px #E1DFCA;
		}

		#foto2 {
			border: solid 8px #E1DFCA;
		}

		#foto3 {
			border: solid 8px #E1DFCA;
		}

